/* Animations */
@keyframes FloatingImage {
    0% {
        transform: translateY(-2.5rem) perspective(600px) rotateY(0deg) scale(.99) rotateX(5deg);
    }

    50% {
        transform: translateY(0) perspective(600px) rotateY(20deg) scale(.99) rotateX(5deg);
    }

    100% {
        transform: translateY(-2.5rem) perspective(600px) rotateY(0deg) scale(.99) rotateX(5deg);
    }
}

@keyframes ScrollingFeedbacksSlide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(var(--slide-card-width) * var(--slide-card-count) * -1));
    }
}