/* Button */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 16px;
    text-align: center;
    transition: 0.3s ease;
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-bold);
    font-size: 1.8rem;
    cursor: pointer;
}

/* Get Started button Starting*/
.btn-getstarted {
    background-color: transparent;
    box-shadow: 0rem 0rem 2rem rgba(16,215,240, 0.5);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    padding: 1.6rem 2.4rem;
    width: 20rem;
}

.btn-getstarted:hover {
    transform: scale(1.02);
    background-color: var(--color-primary);
    color: var(--color-dark);
    border: 2px solid var(--color-primary);
}

/* Contact button Starting*/
.btn-contact {
    background: transparent;
    box-shadow: 0rem 0rem 2rem rgba(252, 252, 252, 0.5);
    color: var(--color-text-light);
    border: 2px solid var(--color-text-light);
    padding: 1.6rem 2.4rem;
    width: 20rem;
}

.btn-contact:hover {
    transform: scale(1.02);
    background-color: var(--color-text-light);
    color: var(--color-dark);
    border: 2px solid var(--color-text-light);
}

/* Purchase button Starting*/
.btn-purchase {
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    border-radius: 4px;
    width: 100%;
}

.btn-purchase:hover {
    background-color: var(--color-primary);
    color: var(--color-btn-dark);
}

/* Black Bar button and icon Starting*/
#btn-blackbar {
    display: none;
    cursor: pointer;
}

#btn-blackbar.active #blackbarbutton-icon {
    transform: rotate(90deg);
}

#btn-blackbar:hover,
#btn-blackbar:hover #blackbarbutton-icon {
    color: var(--color-text-light);
}

#blackbarbutton-icon {
    color: var(--color-text-hover);
    transition: 0.3s ease;
    font-size: 3rem;
}

/* Icons Starting */
.steps-icon {
    font-size: 1.8rem;
    margin-right: 1rem;
    transition: 0.3s ease;
    background: var(--color-linear-1-2);
    -webkit-background-clip: text;
    color: transparent;
}

.footerheart-icon {
    background: var(--color-primary);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.3rem;
    margin: 0 0.3rem;
}