/* Button */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s ease;
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-bold);
    font-size: 1.8rem;
    cursor: pointer;
}

/* Header button Starting*/
.btn-header {
    background: var(--color-primary);
    box-shadow: 0 0 10px rgba(1, 233, 254, 0.75);
    color: var(--color-dark);
}

.btn-header:hover {
    transform: scale(1.02);
}

/* Get Started button Starting*/
.btn-getstarted {
    background: var(--color-primary);
    box-shadow: 0 0 10px rgba(1, 233, 254, 0.75);
    color: var(--color-dark);
    width: 19.5rem;
}

.btn-getstarted:hover {
    transform: scale(1.02);
}

/* Order Golden button Starting*/
.btn-ordergolden {
    background: var(--color-primary);
    box-shadow: 0 0 10px rgba(1, 233, 254, 0.75);
    color: var(--color-dark);
    width: 17rem;
}

.btn-ordergolden:hover {
    transform: scale(1.02);
}

/* Order Silver button Starting*/
.btn-ordersilver {
    background: linear-gradient(to left, var(--color-text-light), var(--color-text-hover));
    box-shadow: 0 0 10px rgba(203, 203, 204, 0.75);
    color: var(--color-dark);
    width: 100%;
}

.btn-ordersilver:hover {
    transform: scale(1.02);
}

/* Contact button Starting*/
.btn-contact {
    background-color: rgb(114, 137, 218);
    box-shadow: 0 0 10px rgba(114, 137, 218, 0.75);
    color: var(--color-text-light);
    width: auto;
    padding: 1.2rem 1.6rem;
    border-radius: 32px;

}

.btn-contact:hover {
    background-color: rgb(78, 93, 148);
    transform: scale(1.02);
}

.btn-contact:hover,
.btn-contact:hover .discord-icon {
    color: var(--color-text-hover);
}

/* Black Bar button and icon Starting*/
#btn-blackbar {
    display: none;
    cursor: pointer;
}

#btn-blackbar.active #blackbarbutton-icon {
    transform: rotate(90deg);
}

#btn-blackbar:hover,
#btn-blackbar:hover #blackbarbutton-icon {
    color: var(--color-text-light);
}

#blackbarbutton-icon {
    color: var(--color-text-hover);
    transition: 0.3s ease;
    font-size: 3rem;
}

/* Icons Starting */
.telegram-icon {
    font-size: 1.6rem;
    color: var(--color-text-light);
    margin-right: 1.2rem;
    transition: 0.3s ease;
}

.features-icon {
    font-size: 1.8rem;
    color: var(--color-text-light);
}

.vouchesavatar-icon {
    border-radius: 50%;
    width: 6rem;
    height: auto;
}

.reviewstar-icon {
    width: 2.4rem;
    height: auto;
    font-size: 1.6rem;
    color: #ff0014;
}

.downarrow-icon {
    font-size: 1.6rem;
    margin-top: 0.7rem;
}

.footerheart-icon {
    background: var(--color-secondary);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.3rem;
    margin: 0 0.3rem;
}